html{
    overflow: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tree{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    user-select: none;
}
.treeView{
    padding-top: 40vh;
    width: 100vw;
    height: 100vh;
    cursor: grab;
}
.node{
    width: 100px;
    height: 100px;
    position: absolute;
    top:0px;
    transform: scale(0.5);
}
.node-left::before{
    position: absolute;
    content: "";
    width: 1px;
    background: black;
    height: 78px;
    left: 91px;
    top: -26px;
    transform: rotate(50deg);
}
.node-right::before{
    position: absolute;
    content: "";
    width: 1px;
    background: black;
    height: 78px;
    left: 8px;
    top: -26px;
    transform: rotate(-50deg);
}
.node-value{
    background: wheat;
    margin: auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    font-size: 30px;
    font-family: monospace;
    word-break: break-all;
}
.node-right{
    text-align: center;
    position: absolute;
    right: 0px;

}
.node-left{
    text-align: center;
    position: absolute;
    right: 200px;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}


.controllers {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    background: #ebebeb;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    box-shadow: 0 0 12px #000000a1;
}
button{
    width: 100px;
}
